nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 7%;
    position: fixed;
    top: 86%;
    left: 10%;
    padding: 1rem;
    background-color: orange;
    border-radius: 10px;

    button {
        border: 2px solid black;
        background: none;
        height: 5vh;
        margin: 1em;
    }
    button:hover,
    button:focus {
        border: 2px solid white;
    }
}