nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    position: fixed;
    top: 80%;
    left: 10%;
    padding: 1rem;
    background-color: orange;
    border-radius: 10px;

    @media screen and (max-height: 550px) {
        top: 65%;
    }

    @media screen and (max-height: 350px) {
        top: 55%;
    }

    button {
        border: 2px solid black;
        background: none;
        height: 3rem;
        margin: 1rem;
    }
    button:hover,
    button:focus {
        border: 2px solid white;
    }
    span {
        margin: auto;
    }
}
