@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

html,
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    color: white;
    background-color: black;
}

* {
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 500px) {
    * {
        font-size: 10px;
    }
}
